<div class="container-fluid cabecalho no-padding no-margin">
    <nav class="navbar navbar-expand-lg navbar-transparent text-white">
        <div class="container-fluid">
            <button type="button" class="navbar-toggler navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars button-toggle-icon"></i>
            </button>
            <div class="row h-100">
                <div class="col-sm-4 col-lg-4 col-xl-4 my-auto">
                    <a class="navbar-brand" [routerLink]="['/']">
                        <img src="../../../assets/img/webmotors.svg" class="logo" />
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link rnav-link" [routerLink]="['/anuncios']">Anuncios</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>